$black: #060606;
$lightgrey: #737679;
$blue: #2F698A;
$green: #59700D;
$lightblue: #469FD3;
$white: #ffffff;


html, body{
  margin: 0;
  padding: 0;
  font-size: 100%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

  a{
    cursor: pointer;
  }
}



body{
  background-color: $black;
}

.container{
  width: 80%;
  margin: 0 auto;
  margin-top: .6em;


  .page-header{
    background-color: lighten($black, 5%);
    padding: 1em;

    h1{
      color: white;
      font-size: 2.4rem;
      text-align: center;
    }

    p{
      color: $lightgrey;
      font-size: 1rem;
      text-align: center;
      margin-top: -1.4em;
    }
  }

  .price-table {
    display: flex;
    margin-top: 3em;

      .col{
        width: 33%;
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .stretch{
          width: 100%;
          flex: 1 0 auto;
        }
    }

    h2,h4{
      color: $white;
      margin-top: .1em;
    }

    p{
      color: $lightgrey;
      margin-top: -.2em;
    }

    .btn{
      border-radius: 5px;
      border-style: none;
      padding: .8em;
      color: white;
      margin-top: 1em;
    }

    .start-blue{
      background-color: $blue;
    }

    .start-green{
      background-color: $green;
    }
}

  .signup-section{
    margin-top: 5em;

      h4{
        color: $white;
      }

      .sub-text{
        color: $lightgrey;
        margin-top: -1em;
      }

      label{
        color: $lightgrey;
        font-weight: bold;
      }

      .form-wrap{
        background: lighten($black, 5%);
        padding: 1em;
      }

      .form-wrap form .form-inputs{
        display: flex;


        #email {
          flex: 1 0 auto;
          border-radius: 5px;
          margin-top: .6em;
        }

        .btn-signup {
          width: 40%;
          margin-left: 1rem;
          background: $lightblue;
          border: none;
          border-radius: 5px;
          padding: .8em;
          color: white;
          font-size: 1em;
          margin-top: .6em;
          font-weight: bold;
        }
      }

      .small-p{
        color: $lightgrey;
      }
  }

  hr{
    margin-top: 5em;
  }

  footer{
    padding-top: 1em;
    display: flex;

    p{
      flex: 1 0 auto;
      color: $lightgrey;
      margin-top: -1em;
    }
    a{
      padding-left: 16px;
      padding-left: 1rem;
      text-decoration: none;
      color: $lightblue;
      margin-top: -1em;
    }
  }
}

@media screen and (max-width: 640px){

  .container{
    width: 100%;

    .price-table {
      display: flex;
      margin-top: 3em;
      flex-wrap: wrap;

        .col{
          width: 100%;
          flex: 1 0 auto;
          flex-direction: column;
          margin-top: 4em;
        }
      }
  }
}
